main {
    background-color: rgb(245, 247, 250);
}

.mobile-banner {
    display: none;
}

/*mensagem-guerreiras-arquibancadas*/
.container-mensagem-guerreiras {
    margin: 30px auto 40px auto;
    align-items: center;
    max-width: 50%;
}

/* Sessão mensagem para as guerreiras das arquibancadas */
.mensagem-torcida {
    border-bottom: 3px solid rgb(227, 6, 19);
}

.mensagem-torcida > figure {
    height: 700px;
}

.mensagem-torcida > figure > img {
    height: 700px;
    width: 100%;
    filter: brightness(0.6);
    object-fit: cover;
}

.container-arquibancadas {
    position: absolute;
    top: 20rem;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}

.container-arquibancadas > figure > img {
    position: absolute;
    bottom: -20rem;
    left: 50%;
    transform: translateX(-50%);
    filter: brightness(1.5);
}

.container-arquibancadas h1 {
    font-size: 7rem;
}

.container-arquibancadas span {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 8rem;
    color: rgb(227, 6, 19);
}

/* Sessão torcida do PSG */
.torcida {
    display: flex;
    margin-bottom: 2rem;
    color: white;
    background: linear-gradient(150deg, rgb(14, 27, 54) 60%, rgb(26, 43, 76) 100%);
}

.torcida img {
    border-radius: 10%;
}

.bandeiras-torcida img, .bandeiras-torcida-2 img {
    position: absolute;
    object-fit: cover;
    background-size: contain;
    top: 164.5rem;
    width: 300px;
    height: 400px;
}

.bandeiras-torcida img {
    left: 14rem;
}

.bandeiras-torcida-2 img {
    right: 14rem;
}

.texto-torcida {
    margin: 30px auto;
    align-items: center;
    max-width: 50%;
}

/* Momentos marcantes */
.section-momentos-marcantes {
    margin: 30px auto;
    padding: 0 0 2rem;
}

.section-momentos-marcantes img {
    height: 400px;
    width: 300px;
    object-fit: cover;
}

.container-imagem-momentos {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: auto;
    gap: 20px;
}

.container-imagem-momentos figcaption {
    margin: 15px;
    align-items: center;
    font-family: 'Montserrat', cursive;
    font-size: 1.7rem;
}

.container-imagem-momentos span {
    font-size: 1.8rem;
}

.container-imagens {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
}

.container-imagens img {
    border-radius: 10%;
}

/*Sessão AÇÕES E IMPACTOS*/
.section-acao-impacto {
    margin: 30px auto;
    padding: 0 0 3rem;
}

.texto-acoes-impactos {
    margin: 30px auto;
    align-items: center;
    max-width: 50%;
}

.texto-acoes-impactos span {
    color: rgb(227, 6, 19);
    font-size: 2rem;
    font-weight: 700;
}

.texto-acoes-impactos ul {
    align-items: center;
}

.mobile-container-imagem-momentos {
    display: none;
}

@media screen and (min-width: 344px) and (max-width: 430px) {
    html {
        padding: 0;
        margin: 0;
        font-size: 62.5%;
        scroll-behavior: smooth;
    }

    body, header, main, footer {
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .container-card-momentos-1, .container-card-momentos-2 {
        display: none;
    }

    .mobile-banner {
        display: block;
        background-image: url(../../image/banner/banner-estádio.jpg);
        background-position: center;
        height: 700px;
        width: 100%;
    }

    .mensagem-torcida > figure {
        display: none;
    }

    .mensagem-torcida > figure > img{
        display: none;
    }


    .container-arquibancadas {
        display: none;
    }

    .mobile-container-imagem-momentos {
        display: block;
    }

    .mobile-container-arquibancadas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mobile-container-arquibancadas h1 {
        padding-top: 8%;
        color: white;
        font-size: 5rem;
    }

    .mobile-container-arquibancadas span {
        font-family: 'Bebas Neue', sans-serif;
        font-size: 6rem;
        color: rgb(227, 6, 19);
    }

    .mobile-container-arquibancadas > figure > img {
        filter: brightness(1.5);
    }

    h1 {
        font-size: 4rem;
    }

    .container-mensagem-guerreiras h1, .torcida h1, .section-momentos-marcantes h1, .section-acao-impacto h1 {
        text-align: left;
        margin-left: 15px;
    }

    .torcida {
        display: flex;
        flex-direction: column;

    }

    .bandeiras-torcida, .bandeiras-torcida-2 {
        display: none;
    }

    .container-mensagem-guerreiras, .texto-torcida, .texto-acoes-impactos {
        margin-right: 10px;
        margin-left: 10px;
        max-width: none;
        text-align: left;
    }

    .container-imagem-momentos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .psg-feminino-campeonato-frances-701a {
        display: none;
    }

    .texto-acoes-impactos ul {
        margin-left: 30px;
        align-items: center;
    }
}

@media screen and (min-width: 431px) and (max-width: 700px) {
    html {
        padding: 0;
        margin: 0;
        font-size: 62.5%;
        scroll-behavior: smooth;
    }

    body, header, main, footer {
        padding: 0;
        margin: 0;
        width: 100%;
    }
    
    .nav-menu a {
        text-align: center;
        text-decoration: none;
        transition: all 0.5s;
        font-size: 1.7rem;
    }

    .nav-menu a:hover {
        color: rgb(227, 6, 19);
    }

    /* BANNER DE FUNDO DO ESTÁDIO DO PSG */
    .mobile-banner {
        display: block;
        background-image: url(../../image/banner/banner-estádio.jpg);
        background-position: center;
        height: 700px;
        width: 100%;
    }

    .mensagem-torcida > figure {
        display: none;
    }

    .mensagem-torcida > figure > img{
        display: none;
    }

    /* MENSAGEM PARA A TORICDA */
    .container-arquibancadas {
        display: none;
    }

    .mobile-container-imagem-momentos {
        display: block;
    }

    .mobile-container-arquibancadas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mobile-container-arquibancadas h1 {
        padding-top: 30%;
        color: white;
        font-size: 5rem;
    }

    .mobile-container-arquibancadas span {
        font-family: 'Bebas Neue', sans-serif;
        font-size: 6rem;
        color: rgb(227, 6, 19);
    }

    .mobile-container-arquibancadas > figure > img {
        filter: brightness(1.5);
    }

    /* TÍTULOS DO SITE EM GERAL */
    h1 {
        font-size: 4rem;
        text-align: center;
    }

    /* SESSÇÃO DA TORCIDA */
    .torcida {
        display: flex;
        flex-direction: column;

    }

    .bandeiras-torcida, .bandeiras-torcida-2 {
        display: none;
    }

    /* FORMATAÇÃO DOS TEXTOS */
    .container-mensagem-guerreiras, .texto-torcida, .texto-acoes-impactos {
        margin-right: 10px;
        margin-left: 10px;
        max-width: none;
        text-align: left;
    }

    /* MODIFICAÇÃO DAS IMAGENS DE MOMENTOS HISTÓRICOS DO PSG */
    .container-imagem-momentos {
        display: none;
    }

    .section-momentos-marcantes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mobile-container-imagem-momentos {
        max-width: 100%;
        justify-content: center;
        align-items: center;
    }

    /* CONTAINER PARA A SEPARAÇÃO E CONFIGURAÇÃO DOS CARDS */
    .container-card-momentos-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .container-card-momentos-2{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
        align-items: center;

    }

    .card-momentos {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 240px;
        width: 100%;
        max-width: 158px;
        border-radius: 30px;
    }

    /*IMAGEM DOS CARDS DE MOMENTOS HISTÓRICOS*/

    .psg-feminino-campeonato-frances {
        background-image: url(../../image/momentos-historicos/PSG-campeonato-frances-feminino-2021.jpg);
        width: 356px;
        height: 205px;
    }

    .homenagem-filha-luis-henrique {
        background-image: url(../../image/momentos-historicos/homenagem-filha-luis-henrique-2025.jfif);
    }

    .participacao-acoes {
        background-image: url(../../image/momentos-historicos/UEFA-Equal-Game.png);
    }

    .psg-encerra-dominio-lyon {
        background-image: url(../../image/momentos-historicos/paris_saint_germain_-_women_s_champions_league-contra-lyon.jpeg);
    }

    .dia-internacional-mulher {
        background-image: url(../../image/momentos-historicos/Dia\ Internacional\ da\ Mulher\ \(março\ de\ 2023\).jpeg);
    }

    .descricao {
        margin-top: 5px;
        width: calc(100% - 16px);
        max-width: 158px;
        height: 80px;
        text-align: left;
        padding-left: 8px;
        font-size: 1.8rem;
    }

    /* FORMATAÇÃO DO TEXTO DE ACÇÕES E IMPACTOS */
    .texto-acoes-impactos ul {
        margin-left: 30px;
        align-items: center;
    }
}

@media screen and (min-width: 701px) and (max-width: 830px) {
    html {
        padding: 0;
        margin: 0;
        font-size: 62.5%;
        scroll-behavior: smooth;
    }

    body, header, main, footer {
        padding: 0;
        margin: 0;
        width: 100%;
    }

    
    .nav-menu a {
        text-align: center;
        text-decoration: none;
        transition: all 0.5s;
        font-size: 1.7rem;
    }

    .nav-menu a:hover {
        color: rgb(227, 6, 19);
    }

    /* MENSAGEM */
    .container-arquibancadas {
        position: absolute;
        top: 12%;
    }

    .container-arquibancadas > figure > img {
        position: absolute;
        top: 95%;
    }

    /* TÍTULOS DO SITE EM GERAL */
    h1 {
        font-size: 5rem;
        text-align: center;
    }

    /* SESSÇÃO DA TORCIDA */
    .torcida {
        display: flex;
        flex-direction: column;

    }

    .bandeiras-torcida, .bandeiras-torcida-2 {
        display: none;
    }

    /* FORMATAÇÃO DOS TEXTOS */
    .container-mensagem-guerreiras, .texto-torcida, .texto-acoes-impactos {
        margin-right: 10px;
        margin-left: 10px;
        max-width: none;
        text-align: left;
    }

    /* MODIFICAÇÃO DAS IMAGENS DE MOMENTOS HISTÓRICOS DO PSG */
    .section-momentos-marcantes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100%;
    }

    .container-imagem-momentos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }

    .mobile-container-imagem-momentos {
        display: none;
    }
    
    /* FORMATAÇÃO DO TEXTO DE ACÇÕES E IMPACTOS */
    .texto-acoes-impactos ul {
        margin-left: 30px;
        align-items: center;
    }
}

@media screen and (min-width: 831px) and (max-width: 1350px) {
    html {
        padding: 0;
        margin: 0;
        font-size: 62.5%;
        scroll-behavior: smooth;
    }

    body, header, main, footer {
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .nav-menu a {
        text-align: center;
        text-decoration: none;
        transition: all 0.5s;
        font-size: 1.7rem;
    }

    .nav-menu a:hover {
        color: rgb(227, 6, 19);
    }

    /* MODIFICAÇÃO DAS IMAGENS DE MOMENTOS HISTÓRICOS DO PSG */
    .section-momentos-marcantes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container-imagem-momentos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        max-width: 100%;
    }
    
    .bandeiras-torcida, .bandeiras-torcida-2 {
        display: none;
    }
} 

@media screen and (min-width: 1351px) and (max-width: 1919px) {

    html {
        padding: 0;
        margin: 0;
        font-size: 62.5%;
        scroll-behavior: smooth;
    }

    body, header, main, footer {
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .nav-menu img {
        position: absolute;
        left: 20%;
    }

    .nav-menu a {
        text-align: center;
        text-decoration: none;
        transition: all 0.5s;
        font-size: 1.7rem;
    }

    .nav-menu a:hover {
        color: rgb(227, 6, 19);
    }

    /* SESSÃO TORCIDA  - IMAGENS DA TORCIDA*/
    .bandeiras-torcida {
        position: absolute;
        left: -8%;
        bottom: 85%;
    }

    .bandeiras-torcida-2 {
        position: absolute;
        left: 108%;
        bottom: 85%;
    }

    /* MODIFICAÇÃO DAS IMAGENS DE MOMENTOS HISTÓRICOS DO PSG */
    .section-momentos-marcantes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container-imagem-momentos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        max-width: 100%;
    }
    
}