header {
    background-color: rgb(14, 27, 54);
    font-size: 10rem;
    width: 100%;
}

.nav-menu {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.nav-menu ul {
    display: flex;
    list-style-type: none;
}

.nav-menu li {
    padding: 15px;
}

.nav-menu a {
    text-align: center;
    text-decoration: none;
    transition: all 0.5s;
    font-size: 1.7rem;
}

.nav-menu a:hover {
    color: rgb(227, 6, 19);
}

.nav-menu img {
    position: absolute;
    left: 22%;
    top: 2%;
    z-index: 1;
}

.mobile-menu-icon, .mobile-menu {
    display: none;
}

@media screen and (min-width: 344px) and (max-width: 700px) {
    html {
        padding: 0;
        margin: 0;
        font-size: 62.5%;
        scroll-behavior: smooth;
    }

    body, header, main, footer {
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .nav-menu ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav-menu a {
        font-size: 1.5rem;
    }

    .nav-menu img {
        display: none;
    }
}

@media screen and (min-width: 701px) and (max-width: 1350px) {
    html {
        padding: 0;
        margin: 0;
        font-size: 62.5%;
        scroll-behavior: smooth;
    }

    body, header, main, footer {
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .nav-menu a {
        font-size: 1.5rem;
    }

    .nav-menu img {
        display: none;
    }
}