@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    background-color: rgb(14, 27, 54);
}

h1 {
    font-family: 'Bebas Neue', cursive;
    font-weight: 900;
    letter-spacing: 0.5rem;
    margin: 1rem 0 2.5rem 0;
    text-align: center;
    font-size: 5.5rem;
}

span {
    font-family: 'Montserrat', cursive;
}

li {
    font-family: 'Montserrat', cursive;
    margin: 9px 12px;
    font-size: 1.8rem;
    font-weight: 500;
}

p {
    font-family: 'Montserrat', cursive;
    margin: 1.5rem;
    font-size: 1.8rem;
    line-height: 3rem;
}

a {
    font-family: 'Montserrat', cursive;
    text-decoration: none;
    color: white;
}

main section, main article {
    border-bottom: 0.5px solid rgb(204, 217, 226);
}