main {
    min-height: 70vh;
    background-color: white;
}

.section-contato {
    padding-top: 2.5%;
    background-color: white;
    border: none;
}

h1 {
    font-size: 4.8rem;
}

.section-contato p {
    font-family: "Montserrat", cursive;
    font-size: 1.8rem;
    line-height: 3rem;
    font-weight: bold;
}

.texto-contato {
    margin: 30px auto;
    align-items: center;
    max-width: 50%;
}

/* SESSÃO CONTATO */
.container-contatos-texto {
    display: flex;
    justify-content: center;
    text-align: center; 
    align-items: center;
}

.container-contatos-texto > nav > a {
    text-decoration: none;
    margin: 10px;
}

.container-contatos-texto > nav > a > img {
    padding: 10px 8px;
    background: linear-gradient(150deg, rgb(0, 64, 112), rgb(0, 64, 112));
    border-radius: 10px;
    transition: background 5s ease, transform 0.3s ease;
}

@media screen and (min-width: 344px) and (max-width: 730px) {
    html {
        padding: 0;
        margin: 0;
        font-size: 62.5%;
        scroll-behavior: smooth;
    }

    body, header, main, footer {
        padding: 0;
        margin: 0;
        width: 100%;
    }
    
    h1 {
        padding-top: 5.5%;
    }
    
    .section-contato {
        padding-bottom: 20%;
    }

    .texto-contato {
        margin-right: 10px;
        margin-left: 10px;
        max-width: none;
    }

    .impressao-contatos {
        display: none;
    }
}

@media screen and (min-width: 731px) {
    html {
        padding: 0;
        margin: 0;
        font-size: 62.5%;
        scroll-behavior: smooth;
    }

    body, header, main, footer {
        padding: 0;
        margin: 0;
        width: 100%;
    }
    
    .section-contato {
        padding-bottom: 5%;
    }

    .impressao-contatos {
        display: none;
    }
}